# Cleanup
export KRAKEN_CLEANUP_CYCLE="pandaf:007:data
                             pandaf:005:data,mc
                             pandaf:004:data,mc"
export KRAKEN_CLEANUP_OPTIONS="--cleanup"

# Review
export KRAKEN_REVIEW_CYCLE=$KRAKEN_CLEANUP_CYCLE
export KRAKEN_REVIEW_OPTIONS="--submit --useExistingLfns --useExistingSites --nJobsMax=20000"
